.container {
	background: #f6f6f6;
}

.twoLine {
	/* 两行文本超过... 要限定div高度 */
	text-overflow: ellipsis;
	font-weight: normal;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.ifIphoneX {
	padding-bottom: 29px;
}

.isIphoneXII {
	padding-bottom: 32px;
}
