.content{
    /* padding: 20rpx ; */

}
.pageTopForPic {
    /* position: fixed; */
    width: 100%;
    text-align: center;
    font-size: 32rpx;
    color: black;
    background: #ffffff;
}
.orderModule {
    position: relative;
    /* width: 710rpx; */
    height: 405rpx;
    background: #ffffff;
    border-radius: 20rpx;
    margin: 30rpx 20rpx 0 20rpx;
    padding: 20rpx 20rpx 0 20rpx ;
}

.orderLabelImg {
    position: absolute;
    right: -10rpx;
    top: 20rpx;
    width: 140rpx;
    height: 60rpx;
}

.orderCode {
    margin-top: 10rpx;
    font-size: 26rpx;
    color: #2c2c3d;
}

.orderGoodsDiv {
    position: relative;
    margin-top: 50rpx;
    padding: 0 1rpx;
    height: 150rpx;
    display: flex;
}

.orderGoodsImg {
    width: 150rpx;
    height: 150rpx;
    border-radius: 10px;
    margin-right: 20rpx;
}

.individuationGoodsLabelS {
    position: absolute;
    left: 14rpx;
    top: -2rpx;
    width: 94rpx;
    height: 37rpx;
}

.orderGoodsName {
    width: 300rpx;
    height: 78rpx;
    font-size: 28rpx;
    color: #161628;
    margin: auto 20rpx auto 0;
    vertical-align: middle;
    overflow: hidden;
}

.orderGoodsPrice {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    text-align: right;
    width: 200rpx;
    height: 80rpx;
    margin: auto 20rpx auto 0;
    vertical-align: middle;
    font-size: 30rpx;
    font-weight: bold;
}

.orderGoodsPriceChangeSmall {
    font-size: 18rpx;
}

.orderGoodsNum {
    font-size: 22rpx;
    color: #8b8f9d;
    font-weight: normal;
}

.orderCutLineImg {
    position: absolute;
    left: -20rpx;
    top: 0;
    width: 710rpx;
    height: 40rpx;
}

.orderGoodsTimeDiv {
    position: relative;
    margin-top: 50rpx;
    height: 110rpx;
    line-height: 110rpx;
    font-size: 24rpx;
    color: #6b7189;
}

.orderSeeDetail {
    position: absolute;
    top: 50%;
    right: 20rpx;
    transform: translate(0, -50%);
    width: 200rpx;
    height: 68rpx;
    line-height: 66rpx;
    text-align: center;
    border: 1px solid #c0c3ca;
    border-radius: 34px;
    font-size: 28rpx;
    color: #161628;
}

.orderToPay {
    position: absolute;
    top: 50%;
    right: 20rpx;
    transform: translate(0, -50%);
    width: 200rpx;
    height: 68rpx;
    line-height: 66rpx;
    text-align: center;
    background: linear-gradient(90deg, #eeb192, #ffd6b5);
    border-radius: 34px;
    font-size: 28rpx;
    color: #161628;
}

.toPayRightJTImg {
    width: 23rpx;
    height: 23rpx;
    margin-left: 6rpx;
}

.indexNull {
    position: relative;
    margin-top: 80rpx;
    width: 330rpx;
    height: 330rpx;
}

.indexNullName {
    position: relative;
    top: -30rpx;
    font-size: 30rpx;
    color: #6b7189;
}
